  table {
    width: 100%;
    color: black;
    border-color: #000000;
  }
   
  table, th, td {
    border-width: 2px;
    color:#cfcfcf;
    border-style: solid;
    padding: 15px;
    background-color: #232324;
    color:#cfcfcf;
  }
  
  thead {
    background-color: #2c2c2c;
    border-style: solid;
    color:#cfcfcf;
  }