/*Riley Strasser 11/09/2023*/
 @font-face {
        font-family: "ostrich";
        src: url('../fonts/ostrichsans-medium-webfont.woff') format('woff'),
             url('../fonts/OstrichSans-Medium.ttf') format('truetype');
        font-weight: 200;
    }   
    .google {
        font-family: 'Roboto', Helvetica, "Times New Roman";
    }
body {
        font-family: Helvetica, sans-serif;
        color:#cfcfcf;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-image: url('../images/flexbg.png');
        background-repeat: no-repeat; 
    }
    a:link, a:visited {
        font-family: Helvetica, sans-serif;
        font-weight: 200;
        color:#cfcfcf;
    }
    a:hover {
        font-family: Helvetica, sans-serif;
        font-weight:200;
        color:rgb(70, 70, 70);
    }
    ul {
        font-family: 'ostrich', Helvetica, sans-serif;
        font-weight: 200;
        list-style-type: none;
        text-align: left;
        padding-right: 0;
        padding-left: 5px;
    }
    p {
        font-family: 'ostrich', Helvetica, sans-serif;
        text-align: left;
        background-color: #000000;
        margin-top: 0;
        margin-left: 175px;
        font-size: x-large;
    }
    h1{
        font-family: 'ostrich', Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 200;
        text-transform:uppercase;
        text-align: left;
        color:#cfcfcf;
        margin-bottom: 0;
    }
    h2{
        font-family: 'ostrich', Helvetica, sans-serif;
        font-size: 60px;
        text-transform: uppercase;
        text-align: center;
        color:#cfcfcf;
        background-color: #0b0b0b;
        margin-top: 0;
        margin-bottom: 0;
    }
    h3{
        font-size: 20px;
        font-family: 'Roboto', Helvetica, sans-serif;
        font-weight: 200;
        text-transform:uppercase;
        text-align: center;
        margin-bottom: 0;
        color:#cfcfcf;
        background-color: #0b0b0b;
    }
    h4{
        font-size: 15px;
        font-family: 'Roboto', Helvetica, sans-serif;
        text-align: center;
        background-color: rgb(37, 37, 37);
        color: #cfcfcf;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 40px;
        padding-right: 40px;
    }
    h5{
        justify-content: center;
        font-size: 15px;
        font-family: Helvetica, sans-serif;
        font-weight: 200;
        text-transform:uppercase;
        text-align: center;
        padding-left: 15px;
        background-color: black;
        color:#cfcfcf;
    }
    ul {
        font-family: 'ostrich', Helvetica, sans-serif;
        font-weight: 100;
        list-style-type: none;
        text-align: left;
        padding-right: 0;
        padding-left: 5px;
    }
    nav{
        font-family: 'ostrich', Helvetica, sans-serif;
        font-weight: 100;
        list-style-type: none;
        text-align: left;
        padding-right: 0;
        padding-left: 5px;
        margin-bottom: 0;
    }
    #flex-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:97%;
        height:500px;
        background-color:rgb(28, 28, 51);
        background-image: url('../images/flexbg.png');
        padding-top: 10px;
        text-align:center;
        padding-right: 45.5px;
        }
    #home-container{
        display: flex;
        width:97%;
        height:1000px;
        background-color:rgb(28, 28, 51);
        background-image: url('../images/flexbg.png');
        padding-top: 10px;
        text-align:center;
        padding-right: 45.5px;
    }
    .home-flex{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color:black;
        padding-top: 0;
        padding-bottom: 0;
    }
    .home-img{
        justify-content: center;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
        padding-top: 20px;
        width: 100%;
        height: 100%;
    } 
    .flexbox{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        background-color: black;
        padding-top: 0;
        padding-bottom: 0;   
    }
    .flexbox img {
        justify-content: center;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
        object-fit: fill;
        width: 100%;
     }
    #a, #b, #c, #d {
        flex-wrap: wrap;
        align-items: center;
        border:10px solid black;
        border-radius: 25px;
        width:350px;
        height:350px;
        margin-top: 50px;
        margin-left: 50px;
    }
    #home{
        flex-wrap: wrap;
        justify-content: center;
        border:10px solid rgb(163, 162, 162);
        border-radius: 15px;
        width:1700px;
        height:800px;
        margin-top: 50px;
        margin-left: 50px;
    }
    #about{
        justify-content: center;
        border-radius: 15px;
        width:1700px;
        height:800px;
        margin-top: 50px;
        margin-left: 50px;
    }
    .home-button {
        float: right; 
        border-radius: 50%;
        margin-right: 1%;
        width: 50px;
        height: 50px;
    }
    .button {
        display: flex;
        flex: wrap;
        justify-content: center;
        width: 100%;
        color:#cfcfcf;
        background:  black;
        font-family: 'ostrich', Helvetica, sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        text-decoration: none;
        border-radius: 15px;
        padding:20px;
    }
    .links{
        width: 10%;
        height: 10%;
    }
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
      }
      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      input[type=submit]:hover {
        background-color: #45a049;
      }
      .contact-container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        }
       #grad {
        background: linear-gradient(rgb(31, 31, 31), rgb(40, 52, 92));
       }
       footer {
        text-align: center;
       }
        .footer-container {
        background-color: rgb(31, 31, 31);
        display: flex;
       }
        
        .footer-container a {
        color:#cfcfcf;
        padding: 42px 16px;
        height: 100px;
        text-decoration: none;
        font-weight: 600;
        font-size: medium;
        padding-bottom: 0;
       }

        a:hover {
        color:rgb(70, 70, 70);
        font-family: Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        }
        a:link{
            color:#cfcfcf;
            font-family: Helvetica, sans-serif;
            text-transform: uppercase;
            text-decoration: none;
        }
        
        .footer-left {
        padding-left:50px;
        margin-top: 50px;
        margin-right: auto;
        }
        
        .footer-icons {
        width: 75px;
        height: 75px;
        padding-right: 10px;
        }
        
        .footer-icons ul {
        list-style-type: none;
        }
        
        .footer-icons li {
        display: inline-block;
        }
        
        .footer-right {
        margin-top: 50px;
        padding-right: 50px;
        margin-left: auto;
        }

        .copyright {
        background-color: #232324;
        overflow: hidden;
        }   
